@import url("..//css/bootstrap.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*----------------------------------------------------------------------------------------
									GENERAL SETTINGS
----------------------------------------------------------------------------------------*/
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #fff ;
}


 /* Start page */


#portfolio {
    margin-top: 32px;
    margin-bottom: 302x;
    
}

ul, li {
    margin: 0px;
    padding: 0px;
}



 img {
    max-width: 100%;
    min-height: 100%;
}

.back-btn{
    width: 70px;
    height: 70px;
    position: fixed;
    left: 2vw;
    background: url("..//images/Arrow_Back-128.png");
    background-size:contain;
    background-position: center;
    z-index: 1;
    
}

#portfolio h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 5em;
    font-family: Montserrat;
}

.clearfix {
    margin: 30px 0 30px 0;
}
.clear_0 {
    clear: both;
}

#portfolio h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif; 
}
h1 {
    font-family: roboto;
    font-size: 2vw;
    letter-spacing: 1em;
    padding-bottom: 64px !important;
    margin-top: 128px;
    text-align: center;
    text-transform: uppercase;

}



.fot p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    letter-spacing: .1em;
    margin-right:-.1em;
    margin-bottom: 0px;
    
 
}


a, a:hover, a:focus {
    color: #414141;
    text-decoration: none;
        list-style: none;
  
}
a img{
    transition: .0s ease-in-out;
    opacity: 1;
    margin-top: 16px !important;
}


a:hover img{
    opacity: 1;
   /* border: solid #000000 2px;*/
    transition: .0s ease-in-out;

}


#detail_page p {
    font-size: 1.3em;
    text-align: ;
    margin: 0px;
    text-align: left;
    
}
/*----------------------------------------------------------------------------------------
									About page
----------------------------------------------------------------------------------------*/
#about_page h2{
    text-align: ;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin-right:-.2em;
    margin-bottom: 30px;
    text-align: center;
}
#about_page p{
    font-size: 1.2em ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
    margin: 0px;
    color: 1f1f1f;
}

#about_page .artist_statement p{
    font-size: 1.2em ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #1f1f1f;
    margin-top: 32px;
    margin-bottom: 128px;

}

#about_page .artist_statement b{
    font-family: oswald;
    font-size: 1em ;
    letter-spacing: 0.05em;
    font-weight: extra-bold;
    color: #1f1f1f;
}

#about_page .biography p{
    font-size: 1.2em ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left ;
    margin-top: 64px;
    color: #1f1f1f;
    margin-bottom: 64px;
}

#about_page .om_mig_p p:nth-child(odd) {;
    margin-bottom: 32px;
    text-align: center; 
}

footer {
    margin-top: 100px;
    margin-bottom: 70px;
    background: transparent;

}


/*----------------------------------------------------------------------------------------
									Featured
----------------------------------------------------------------------------------------*/


/* Flexbox gallery for portfolio */
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: cover;

}
.gallery-item{
    display: flexbox;
    flex: 1 1 calc(33.333% - 32px);
    max-width: 1 1 calc(33.333% - 32px);
}
.gallery-item img{
    max-width: auto;
    display: flexbox;
    object-fit: cover;
    aspect-ratio: 9 / 14;

}

/* Responsive: 1 column on small, 2 columns medium, 3 columns desktop */
@media (max-width: 599px){
    .gallery-item{ flex: 1 1 100%; max-width: 100%; margin-left: 16px; margin-right: 16px;}
    
}
@media (min-width: 600px) and (max-width: 899px){
    .gallery-item{ flex: 1 1 calc(50% - 32px); max-width: calc(50% - 32px); }
}
@media (min-width: 900px){
    .gallery-item{ flex: 1 1 calc(33.333% - 32px); max-width: calc(33.333% - 32px); }
}

/* Ensure generic img rules don't conflict with gallery sizing */
img{ max-width:100%; height:auto; }


/*----------------------------------------------------------------------------------------
									@MEDIA
----------------------------------------------------------------------------------------*/

@media(max-width:767px){
    
#portfolio h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: Montserrat;
}
    
#portfolio h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: Montserrat; 
}


.fot p {
    font-size: 1.3em;

}    
    
#detail_page p {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
}

#about_page .om_mig_p p:nth-child(odd) {
    color: black;
    margin-bottom: 30px;
}
.back-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    displ

    
}  
h1 {
    font-family: roboto;
       font-size: 5cqi;
    overflow-wrap: break-word;
    letter-spacing: 4vw;
    margin-top: 96px;
    margin-bottom: 32px !important;
    text-transform: uppercase;

}
#portfolio {
    margin-top: 0px !important;
    margin-bottom: 128px;
    
} 
}



@media(min-width:992px){
 
}

@media(min-width:1200px){
 

    
}



