@import url("..//css/bootstrap.min.css");


/*----------------------------------------------------------------------------------------
									GENERAL SETTINGS
----------------------------------------------------------------------------------------*/
body {
    background: #fff ;
}

#portfolio {

    margin-top: 50px;
    
}

ul, li {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#portfolio h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 5em;
    font-family: Montserrat;
}

.clearfix {
    margin: 30px 0 30px 0;
}

#portfolio h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
    font-family: Montserrat; 
}

.intro h1 {
    font-size: 1.4em;
    line-height: .1em;
}
.intro p {
    font-size: 1.4em;
    line-height: .1em;
}


.intro {
    margin-top: 50px;
    color: #414141;
}

.intro a {
    transition: .2s;
}

.intro a:hover {
    color: #888888;
}


a, a:hover, a:focus {
    color: #414141;
    text-decoration: none;
        list-style: none;
    transition: .05s;
}



/*----------------------------------------------------------------------------------------
									Featured
----------------------------------------------------------------------------------------*/
.port > div {
    padding: 15px 15px 15px 15px !important;
    transition: .1s;

}


/*----------------------------------------------------------------------------------------
									@MEDIA
----------------------------------------------------------------------------------------*/

@media(max-width:767px){
    
#portfolio h3{
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5em;
    font-family: Montserrat;
}
    
#portfolio h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: Montserrat; 
}


.intro p {
    font-size: 1.2em;
    line-height: .1em;
}    
    
    
footer {
    margin-top: 70px;
    margin-bottom: 50px;
}    

  
.name {
    font-size: 1.2em;
    font-weight: 800;
}    
    
}


@media(min-width:768px){


    
}


@media(min-width:992px){
        
 
    
}

@media(min-width:1200px){


    
}



